<footer>
    <div class="container footer-container">
        <div class="social-media-box d-inline-flex max-width">
            <h3 class="title-footer">Recipe project</h3>
            <span class="icon-footer"><img src="./../assets/img/facebook.png"></span>
            <span class="icon-footer"><img src="./../assets/img/instagram.png"></span>
            <span class="icon-footer"><img src="./../assets/img/twitter.png"></span>
        </div>

        <p class="text-center">© 2018 Recipe project Inc • Conditions d’utilisation • Confidentialité • • Modération de la communauté • Copyright</p>
    </div>

    <script src="./../ressources/js/jquery-3.3.1.js"></script>
    <script src="./../ressources/js/main.js"></script>
</footer>